html {
  font-size: 0.5208333vw; 
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
