.modal {
  opacity: 0;
  overflow: hidden;
  position: fixed;
  transition: 0.4s ease all;
}
.modal_active {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 1;
  overflow: visible;
  transition: 0.4s ease all;
}
.modal_active::before {
  transition: 0.4s ease all;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -100;
}
.modal__container {
  position: fixed;
  z-index: 100;
  width: 125rem;
  height: 70rem;
  background: #ffffff;
  box-shadow: 0px 15px 41px rgba(0, 0, 0, 0.17);
  border-radius: 24px;
  padding: 5rem 4.3rem;
}
.modal__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  color: #232323;
}
.modal__upper-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.modal__upper-info {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
.modal__upper-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #676767;
}
.modal__upper-text strong {
  color: black;
}
.modal__button {
  background: #ffd600;
  border-radius: 1rem;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  border: none;
  transition: 0.4s ease all;
}
.modal__button:hover {
  color: white;
  box-shadow: 0px 6px 30px rgb(255 214 0 / 52%);
}
.modal__button_progress {
  width: 15rem;
  height: 3.5rem;
}
.modal__middle-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  border-bottom: 1px solid #6767677f;
  padding-bottom: 3rem;
}
.modal__button_bug {
  width: 25rem;
  height: 4.5rem;
}
.modal__middle-link {
  position: relative;
}
.modal__input {
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.modal__input_middle {
  width: 45rem;
  height: 4.5rem;
  outline: none;
  padding-right: 15rem;
  padding-left: 1rem;
}
.modal__button_link {
  position: absolute;
  right: 0;
  width: 15rem;
  height: 4.5rem;
}
.modal__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 98rem;
  color: #676767;
  margin-top: 3rem;
}
.modal__images-info {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3.6rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2.5rem;
}
.modal__image-info {
  width: 30rem;
  height: 3.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  background: #f6f6f6;
  border-radius: 4.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.modal__bottom-send {
  position: relative;
}
.modal__input_bottom {
  width: 90rem;
  height: 4.5rem;
  padding-left: 1rem;
}
.modal__button_bottom {
  position: absolute;
  width: 6.6rem;
  height: 4.5rem;
  border-radius: 0px 10px 10px 0px;
  right: 0;
}
.modal__button-delete {
  width: 7rem;
  height: 5rem;
  border: 1px solid #6767678f;
  border-radius: 10px;
}
.modal__button-delete-img {
  width: 3rem;
  height: 3.1rem;
  padding-top: 0.5rem;
}
.modal__button-close {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  background: #f6f6f6;
  border-radius: 4.5px;
  border: none;
  right: 4rem;
  top: 3rem;
  background-color: transparent;
}
.modal__select {
  width: 12rem;
  height: 4.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  border: 1px solid #ffd600;
  border-radius: 1rem;
  padding: 0;
}
.modal__select::after {
  display: none;
}
.modal__select .current {
  top: 0;
  position: static;
}
.modal__select .nice-select-dropdown {
  position: absolute;
  top: -25rem;
}
.modal__select .option {
  width: 14rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
}
.option_new {
  border: 1px solid #32a143;
  border-radius: 10px 10px 0px 0px;
}
.option_progress {
  background-color: #ffd600;
  border: none;
}
.option_rejected {
  background-color: #ed4848;
  border: none;
}
.option_solved {
  background-color: #32a143;
  border: none;
}
.option_deferred {
  border: 1px solid #ed4848;
}
.option_review {
  border: 1px solid #ffd600;
}


